/*Переиспользуемые правила*/
.address {
  line-height: 1.37;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

.address a {
  text-underline-offset: 5px;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  z-index: -1;
}

/*Cекция заголовок*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item {
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-underline-offset: 2px;
}

.header__link_active {
  text-decoration: none;
}

.header-logo {
  display: block;
  width: 142px;
  height: 105px;
}

.header__address {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
}

/*main*/
.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 757px;
  z-index: 1;
}

.cover-content {
  padding: 165px 50px 50px 50px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 106px;
  font-size: 100px;
  line-height: 115%;
  font-weight: 700;
  color: #fff;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  line-height: 28px;
  word-spacing: 18.5px;
}

.bet-button {
  font-weight: 500;
  padding: 12px 31px 11px 32px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #fff;
}

/*Секция Лоты*/
.lots {
  padding: 179px 24px 120px;
}

.lots ul li {
  list-style: none;
  list-style-type: none;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 1 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__title {
  text-decoration: underline;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.card__text {
  font-size: 20px;
  color: #fff;
}

.lots__look-more-link {
  text-underline-offset: 5px;
  padding-left: 40px;
  font-size: 20px;
}

/*Секция about*/
.about {
  padding: 0 24px 180px 24px;
}
.about__colum {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-left: 47px;
  padding-top: 35px;
  gap: 72px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  padding: 64px 45.5px 62px 46px;
  height: 100%;
  width: 100%;
}

.about__title {
  padding-top: 101px;
  padding-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
}
/*Подвал*/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px 82px 50px;
}

.footer__address {
  min-width: 260px;
  display: flex;
  flex-direction: column;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}
